<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/head") %>
    <title><% title %></title>
  </head>
  <body>
    <div class="main-container vh-100">
      <%- include("partials/navigation") %>
      <div class="container-lg w-100 vh-100 d-flex flex-column align-items-center justify-content-center">
        <div class="form-container w-75 h-auto">
            <form class="w-100 ">
                <h2 class="text-center py-4">CONTACT US</h2>
                <div class="form-group d-flex flex-column align-items-start py-2 fw-bold">
                    <label for="formGroupExampleInput">Name</label>
                    <input type="text" class="form-control w-100" id="formGroupExampleInput" placeholder="Name">
                </div>
                <div class="form-group d-flex flex-column align-items-start py-2 fw-bold">
                    <label for="formGroupExampleInput2">Phone</label>
                    <input type="number" class="form-control w-100" id="formGroupExampleInput2" placeholder="Phone">
                </div>
                <div class="form-group d-flex flex-column align-items-start py-3 fw-bold">
                    <label for="formGroupExampleInput3">Reason</label>
                    <textarea name="" id="" cols="30" rows="10" class="w-100"></textarea>
                </div>
                <button type="button" class="btn-form w-100 text-white myBtn primaryBtn">SEND</button>
                <div class="social py-5">
                    <h4 class="text-center fw-bold">FOLLOW US</h4>
                    <div class="social-links d-flex align-items-center justify-content-center gap-2">
                      <a href="#"><iconify-icon icon="mdi:youtube" style="color: #4c2c72;" width="40" height="40"></iconify-icon></a> 
                      <a href="#"><iconify-icon icon="ic:baseline-tiktok" style="color: #4c2c72;" width="40" height="40"></iconify-icon></a>
                      <a href=""><iconify-icon icon="mdi:twitter" style="color: #4c2c72;" width="40" height="40"></iconify-icon></a>
                    </div>
                </div>
            </form>
        </div>
      </div>
      <%- include("partials/footer") %>
    </div>
    <%- include("partials/foot") %>
  </body>
</html>
