<footer class="py-4 bg-black">
  <div class="container-lg d-flex flex-column flex-md-row align-items-center justify-content-around">
    <h4>&copy; Lopez Lopez Emiliano</h4>
    <div class="more-info d-flex align-items-center flex-column flex-md-row gap-5">
        <a href="#" class="fs-5 text-white">Politics</a>
        <a href="#" class="fs-5 text-white">App</a>
        <a href="#" class="fs-5 text-white">Q & A</a>
    </div>
  </div>
</footer>
